@media (min-width: 992px) and (max-width: 1199px) {
	body {
		font-size: 14px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	
	body {
		font-size: 32px;
	}
	
	/* Navbar */
	
	.navbar {
		font-size: 42px;
		height: 3em;
		padding-top: 15px;
		z-index: 9500;
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}	
	
	.navbar-brand {
		margin-top: 20px;
	}
	
	.navbar-nav {
		margin-top: 100px;
	}

	.navbar-links {
		height: 200%;
		width: 0px;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: rgb(0,0,0);
		overflow-x: hidden;
		transition: 0.5s;
	}
	
	.navbar-toggle .icon-bar {
		margin: 10px;
		width: 75px;
		height: 5px;
	}
	
	.navbar-collapse {
		margin-top: 20px;
		font-size: 28px;
		background-color: #111111;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	
	.nav li,
	.nav li a {
		margin: 25px 0;
	}

	.nav li.logo {
		font-size: 2em;
	}
	
	.glyphicon.glyphicon-remove {
		position: absolute;
		right: 100px;
		top: 30px;
		font-size: 1.5em;
	}
	
	/* End Navbar */
	
	/* Town */
	
	.town input {
		margin-top: 100px;
		width: 60%;
		height: 85px;
		font-size: 1.5em;
	}
	
	/* End Town */
	
	/* Company */
	
	.company {
		margin-bottom: 100px;
	}

	.company .avatar {
		height: 300px;
		position: relative;
		z-index: 2;
		margin-top: -150px;
		border-radius: 50%;
	}
	
	/* End Company */
	
	/* Button fill */
	
	.btn.btn-fill {
		padding: 10px 50px;
	}
	
	/* End Button fill */
	
}